header
    position absolute
    width 100%
    z-index 1

    a
        color #fff

    .container
        display flex 
        justify-content space-between
        align-items center
        padding 15px

.header-phone
    margin-right 40px
    font-family mediumFont
    font-size 28px
		
.header-callback
    font-size 20px
    border-bottom 1px dashed #fff

.header__social-list
    position absolute
    right 0px
    bottom 0px
    z-index 1

.header-contact
    display flex
    align-items center