.popup-form
    position relative
    width 100%
    max-width 400px
    margin 50px auto
    padding 60px 25px 40px
    background-color popupBgColor
    border-radius 30px
    text-align center

    .g-btn
        margin-bottom 0

    .mfp-close
        display none

.popup-close
    position absolute
    top -30px
    right -30px
    display block
    width 60px
    height 60px
    color #fff
    background-color darkBgColor
    border 2px solid #fff
    border-radius 50%
    font-size 45px
    text-align center
    cursor pointer
  
    
.popup-title   
    display block
    font-family mediumFont
    margin-bottom 50px

.popup-form__title
    font-size 25px

.popup-form-line
    margin-bottom 20px

    &:last-of-type
        margin-bottom 30px

.popup-success
    display none

    &.success-show
        display block

.popup-success__title
    font-size 30px

.popup-success__descr
    font-size 28px
    
