.small-section
    padding 45px 0
    text-align center
    background-size cover


.small-section--date
    background-image url('../img/general/date-bg.jpg')

.small-section__text
    color #fff
    font-size 25px
    font-family lightFont

.small-section__phone
    color lightYellowColor
    font-size 25px
    font-family mediumFont

    
   


    
   