.video-slider

    max-width 750px 
    margin 0 auto 50px 
    border-bottom 1px solid #fff 

    &.reviews-video-slider
        border-bottom none

    .slick-dots
        position static
        
        li 
            border 1px solid lightYellowColor
            border-radius 50%

            &.slick-active
                background-color lightYellowColor
        button
            opacity 0

.video__item
    margin-bottom 30px
    
