section.about-me
    .container
        .about-me__content
            h2.g-section-title A few details about:
            ul.about-me__list.g-list
                li
                    p Began singing at age 5 in choirs. He made his professional debut when he was 11, 
                        b as the third spirit in Mozart’s The Magic Flute in Paris.
                li
                    p Began singing at age 5 in choirs. He made his professional debut when he was 11, 
                        b as the third spirit in Mozart’s The Magic Flute in Paris.
               
                li    
                    p Baskov has been 
                        b awarded with all of the most coveted national music honors and awards, 
                        | including Ovation, Zolotoy Gramofon (Golden Grammophone — Grammy equivalent in Russia), MUZ TV Award, Style of the Year, Singer of the Year, and many more.
                        
            p.about-me__text I have been engaged in various events for 
                b 7 years!