section.advantages
    .container
        .advantages-content
            h2.g-section-title What are you getting:
            .g-line-number
                span 1
            .advantages-icon
                img(src="static/img/general/advantages-artist.png")
                span +
                img(src="static/img/general/advantages-dj.png")
            p.advantages-text Pre-designed music
                |  helps create the right holiday atmosphere,
                |   so I'm working
                |   in a pair with his DJ
                |   , which the:
            ul.advantages-list 
                li
                    p knows the program of the host prepares and 
                        b timely includes the required
                        |  musical material,
                li
                    p 
                        b arrives
                        |  with his professional
                        b  sound and lighting equipment.
                li
                    p 
                        b perfectly knows the musicquickly finds musical compositions at the request of guests 
                        |  from the 70s to ultramodern hits,
                li
                    p 
                        b sings with a leading a cappella for two voices
                li
                    p 
                        b quickly finds
                        |  musical compositions
                        b  at the request of guests
                        
            .review 
                span.review-author Name Surname:
                a(href="https://www.facebook.com/nikolai.baskov").review-link facebook.com/nikolai.baskov
                p.review-title "... You were like your own person! I wanted to participate in everything and support any idea !!!! It is inexpressibly cool! ..."
                a(href="javascript:void(0);").experience__reviews-link see more reviews   
