section.bottom-form
    .container
        .bottom-form__content
            ul.bottom-form__list.g-list
                li Great host of celebrations
                li Forward-looking scenario
                li Great music
            p.bottom-form__text This is a guarantee that the celebration will be interesting and exciting
            form.form--bottom 
                    .form-line.form-line__half
                        .g-input__wrap.g-input__wrap--user
                            input(type="text" placeholder="Enter your name").g-input
                        .g-input__wrap.g-input__wrap--phone  
                            input(type="text" placeholder="Enter phone").g-input
                    button(type="submit").g-btn.g-btn--no-icon
                        span Invite a host
            
        
