section.small-section.small-section--date
    .container
        .small-section__content
            h3.g-section-title.g-section-title--small Check if the date of your event is available:
            a(href="javascript:void(0);").g-btn.g-btn--date.arrow Check the date
            p.small-section__text Or just call the number:
                a(href="tel:1234567890").small-section__phone  1234567890
            
