section.small-section.small-section--scenario
    .container
        .small-section__content
            h3.g-section-title.g-section-title--small We make the script according to your wishes
           
            p.small-section__text 
                b You answer the questions of the questionnaire 
                | <br> I learn about your wishes, and 
                b  I write the script specifically for you
            a(href="javascript:void(0);").g-btn.g-btn--scenario Get the form
                
