section.scenario
    .g-line-number
        span 3
    .container
        .scenario-content
            h2.g-section-title.g-section-title--mini Scenario and program of the event:
            p.g-dection-descr Our program takes into account the interests of all <br> age categories. It will be fun everyone!
            ul.scenario-list
                li
                    p
                        b 1. I make up the script
                        |   based on the wishes reflected in the questionnaire.
                li
                    p
                        b 2. Come with a DJ in two hours 
                        | before the event, install and configure the equipment.
                        
                li
                    p
                        b 3. I greet guests
                        |   in the Welcome-zone.
                        
                li
                    p
                        b 4. Organize
                        |  guests for the beginning of the holiday.
                        
                li
                    p
                        b 5. I supervise
                        |  the course of the celebration - toasts, jokes, competitions, quizzes, flash mobs, entertainments, dance breaks.
                        
                li
                    p
                        b 6. I carefully monitor
                        |  the mood of the audience, and give her only what she wants, regardless of the script written beforehand.
                        
                li
                    p
                        b 7. Coordinate
                        |  my presentation with 
                        b  the presentation of dishes 
                        |  in the restaurant. I always pause in the program and give time to ensure that guests can enjoy the treats that you have ordered for them.  
                        
                li
                    p
                        b 8. In case of force majeure, 
                        |  (for example, if electricity is cut off in the hall), 
                        b  we can take guests with musical numbers
                        |  with a guitar or accordion.