section.skills
    .g-line-number
        span 2
    .container
        .skills-content
            h2.g-section-title.g-section-title--mini Professional vocals <br> and playing a musical instrument
            p.g-dection-descr The repertoire depends on the format of the wedding and the preferences of the guests
           
            .music-item__wrap
                .music-item
                    .music-item__photo
                        .music-item__pic.music-item__pic--vocal 
                    .music-item__info
                        .music-item__info-top
                            span.music-item__title Live vocals
                        p.music-item__text In the repertoire
                            b  of several dozen songs - 
                            | Russian and foreign hits. If you ask to perform a certain composition, I prepare it specially for you

                .music-item
                    .music-item__photo
                        .music-item__pic.music-item__pic--accordion 
                    .music-item__info
                        .music-item__info-top
                            span.music-item__title Bayan game
                            span.music-item__descr (at the request of the client)
                        p.music-item__text Sourced exit accordionist Mihalych with the original greeting of the culprits of the celebration always passes on Hurray!
                            b <br>  A small bayan block of two or three songs, even a youth company, is perceived very positively.

                .music-item
                    .music-item__photo
                        .music-item__pic.music-item__pic--gitara
                    .music-item__info
                        .music-item__info-top
                            span.music-item__title Playing guitar
                            span.music-item__descr (songs with meaning)
                        p.music-item__text I perform popular songs from the repertoire of well-known performers, famous bard songs.
                            b <br> The repertoire is discussed in advance.

                .music-item
                    .music-item__photo
                        .music-item__pic.music-item__pic--piano 
                    .music-item__info
                        .music-item__info-top
                            span.music-item__title Playing the piano
                        p.music-item__text If there is a piano or grand piano in the hall, then you will have the opportunity to hear
                            b several instrumental pieces, songs or romances
                            |   in our performance. Or sing yourself.

            .review 
                span.review-author Name Surname:
                a(href="https://www.facebook.com/nikolai.baskov").review-link facebook.com/nikolai.baskov
                p.review-title "... You were like your own person! I wanted to participate in everything and support any idea !!!! It is inexpressibly cool! ..."
                a(href="javascript:void(0);").experience__reviews-link see more reviews   
                        

                    
