section.skills
    .g-line-number
        span 2
    .container
        .skills-content
            h2.g-section-title.g-section-title--mini Professional vocals <br> and playing a musical instrument
            p.skills__descr The repertoire depends on the format of the wedding and the preferences of the guests
            
                    
