section.top-banner
    .container 
        .top-banner__content
            h1.top-banner__title Charismatic wedding presenter 
                span.top-banner__title--yellow Urgant
                |,  singer and musician.
            p.top-banner__text I work in pairs with a DJ on my professional equipment (sound, light).
