.about-me
    padding-top 80px
    background linear-gradient(to bottom, #babcc1, #e8e8e9)

.about-me__content
    padding 0px 80px 80px 45%
    background url('../img/general/man.png') 0 0 no-repeat
    background-size: contain;

    .g-section-title
        margin-bottom 50px
        color blackPurpleColor
        text-align left

.about-me__list
    margin-bottom 50px

    li
        padding-left 60px
        margin-bottom 30px

        &:before
            top 5px
            left 30px
            sprite($s-check)

.about-me__text
    padding-left 60px
    font-size 28px

