
.big-form
    padding 100px 0
    background radial-gradient(#545c8c, #131225)

.big-form-content
   .g-section-title
        max-width 750px
        margin 0 auto 50px

.form-price
    width 100%
    max-width 620px
    margin 0 auto 30px

.form-price__top
    background-color lightGrayColor
    border-radius 20px 20px 0 0 
    padding 50px 30px


.season, .day
    .g-radio__text
        width 100px


.form-price__bottom 
    padding 50px 35px 20px
    background linear-gradient(to bottom, #2b2a44, #19142a)
    border-radius 0 0 20px 20px
    text-align center
    
    .form-line
        margin-bottom 45px

    .g-input__wrap
        width 47%

.big-form__text
    text-align center
    width 100%
    max-width 620px
    margin 0 auto
    font-size 28px
    color #fff

    b
        color lightYellowColor
    


 

            


