.bottom-form
    padding 80px 0
    background linear-gradient(to bottom,#211b38,#484d82)

.bottom-form__content
    width 100%
    max-width 670px
    margin 0 auto
    font-family mediumFont


.bottom-form__list
    margin-bottom 40px
    padding-left 100px

    li
        padding-left 40px
        margin-bottom 15px
        color lightYellowColor
        font-size 35px

        &:before
            top 10px
            left 0
            sprite($s-check-yellow)

.bottom-form__text 
    margin-bottom 80px
    color #fff
    font-size 30px
    text-align center

.form--bottom
    text-align center

    .form-line
        margin-bottom 30px

    .g-btn
        margin-bottom 0
        

