.experience
    padding 70px 0
    background linear-gradient(to bottom, #16454d, #447879)

.experience_content

    .review
        width 100%
        max-width 620px
        margin 0 auto

    .review-title
        margin-bottom 30px

.experience__block
    widht 100%
    max-width 860px
    margin 0 auto 50px
    display flex
    justify-content space-around

.experience__item
    text-align center
    padding 25px 20px 5px
    border-left 1px solid #fff

    &:last-child
        border-right 1px solid #fff

    span
        display block
        margin-bottom 10px
        color #fff
        font-family mediumFont

        &.experience-item__text
            margin-bottom 0
            color lightYellowColor
            font-size 20px
            
        &.experience-item__descr
            font-size 35px

    &.experience__item-big
        .experience-item__number
            font-size 110px
            

.experience-item__number
    font-size 80px
    line-height 1
    
.experience__text
    padding 0 25px
    color #fff
    text-align center
    font-size 35px
    

    &:after
        content ''
        display block
        margin 40px auto 20px
        width 100%
        max-width 750px
        height 1px
        background-color #fff

.experience__reviews-link
    color #fff
    font-size 20px
    text-decoration underline