.portfolio
    padding 100px 0
    background linear-gradient(to bottom, #16454d, #447879)

.portfolio-content
   .g-section-title
        max-width 750px
        margin 0 auto 50px

.portfolio-video-slider, .reviews-video-slider

    padding: 0 70px 45px
    border-bottom 1px solid #fff
    

.portfolio-photo-slider 
    max-width 1100px
    padding 0 70px 45px 70px


.portfolio-photo_link
    position relative
    display block

    &:after
        content ''
        display block
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        z-index 1
        sprite($s-magnifier)
        opacity 0
        transition all linear .3s
    
    &:hover
        &:after
            opacity 1

.portfolio-photo__img
    width 160px
    height 160px
    margin 0 auto 30px
    background-size cover 




   
