.skills
    padding 80px 0
    background linear-gradient(to bottom, #29284d, #140e2a)
    
    .g-line-number
        position absolute
        top -35px
        left 50%
        transform translateX(-50%)

.skills-content
    width 100%
    max-width 850px
    margin 0 auto

.skills__descr
    text-align center
    color #fff
    font-size 28px
    font-family lightFont
    
  
