.skills
    padding 80px 0
    background linear-gradient(to bottom, #29284d, #140e2a)
    
    .g-line-number
        position absolute
        top -35px
        left 50%
        transform translateX(-50%)

.skills-content
    width 100%
    max-width 850px
    margin 0 auto
    
    .review
        max-width 700px
        padding-left 60px


.music-item__wrap
    width 100%
    max-width 760px
    margin 0 auto
    
    &:after// ? line
        max-width 760px
        margin 50px auto 30px


.music-item
    width 100%
    max-width 760px
    display flex
    margin-bottom 20px
    
        
        
.music-item__photo
    position relative
    margin-right 40px
    

.music-item__pic
    width 240px
    height 240px
    border-radius 50%
    overflow hidden

    &.music-item__pic--vocal 
        background url('../img/general/music/vocal.jpg') -100px 0 no-repeat
        background-size cover

    &.music-item__pic--gitara
        background url('../img/general/music/gitara.jpg') 0 0 no-repeat
        background-size cover

    &.music-item__pic--accordion
        background url('../img/general/music/accordion.jpg') 0 0 no-repeat
        background-size cover

    &.music-item__pic--piano
        background url('../img/general/music/piano.jpg') 0 0 no-repeat
        background-size cover
        

.music-item__text
    color #fff

    b
        color lightYellowColor

.music-item__info-top
    margin-bottom 20px
   
.music-item__title
    display block
    font-family mediumFont
    font-size 30px
    color   lightYellowColor

.music-item__descr
    color #fff
        
    