.stages
    padding 70px 0
    background linear-gradient(to bottom,#1c4c53,#3e7173)

.stages__content

    .g-section-title 
        margin-bottom 60pxs

.stages-item__wrap
    display flex
    flex-wrap wrap
    justify-content space-around

.stages-item
    position relative
    width 30%
    padding-left 100px
    margin-bottom 70px
    background url('../img/general/big-arrow.png') right top no-repeat
    background-size contain
        

.stages-item__number
    position absolute
    top 0 
    left 0
    display block
    width 65px
    height 65px
    padding-top 8px
    background-color #fff
    border-radius 50%
    text-align center
    font-size 40px
    font-family mediumFont

.stages-item__title
    display block
    margin-bottom 20px
    font-size 30px
    font-family mediumFont
    color lightYellowColor

.stages-item__text
    color #fff
    font-size 20px
    
    
