.top-banner
    background linear-gradient(to bottom, #484d83, #201a37)
    padding-top 120px
    height 800px

    .container 
        height 100%

.top-banner__content
    width 100%
    max-width 1000px
    margin 0 auto
    height 100%
    padding-right 51%
    padding-top 90px
    color #fff
    background url('../img/general/man-blue.png') bottom right no-repeat
    background-size contain

.top-banner__title
    margin-bottom 40px
    font-size 50px
    font-weight normal
    font-family madiumFont
    

.top-banner__title--yellow
    color lightYellowColor

.top-banner__text
    width 80%
    font-size 30px
    font-family lightFont
    
    