.g-social__list
	
	li 
		display inline-block
		margin 0 10px

.g-social__link
	display block
	width 22px
	height 22px
	

	&.g-social__link--mail
		background url(../img/svg/mail.svg) 0 0 no-repeat
		background-size 100%

	&.g-social__link--fb
		background url(../img/svg/facebook.svg) 0 0 no-repeat
		background-size 100%	

