.g-social__list

    li 
        display inline-block
        margin 0 10px

.g-social__link
    display block
    width 22px
    height 22px
	

    &.g-social__link--mail
        background url(../img/svg/mail.svg) 0 0 no-repeat
        background-size 100%

    &.g-social__link--fb
        background url(../img/svg/facebook.svg) 0 0 no-repeat
        background-size 100%	

.g-section-title
    font-family mediumFont
    font-size 40px
    font-weight normal
    color lightYellowColor
    text-align center
    margin-bottom 35px

    &.g-section-title--mini
        font-size 35px

.g-dection-descr
    margin-bottom 30px
    text-align center
    color #fff
    font-size 28px
           
.g-section-title--small
    margin-bottom 20px
    font-size 33px


 .arrow 
    position relative

    &:after
        content ''
        position absolute
        display block
        sprite($s-arrow)


.g-btn
    position relative
    display inline-block
    margin-bottom 30px
    cursor pointer
    height 50px
    line-height 50px
    padding 0 30px 0 70px
    font-family mediumFont
    font-size 28px
    color blackPurpleColor
    background linear-gradient(to bottom, #eecd7d, #ff8159)
    border-radius 30px
    border 0
    box-shadow 0 0 40px 5px rgba(238, 205, 125, .4)

    &:before
        content ''
        position absolute
        left 30px
        top 50%
        transform translateY(-50%)
        display block

    &.g-btn--date
        &:before
            sprite($s-date)

        &:after
            top -20px
            right -120px

    &.g-btn--scenario
        &:before
            sprite($s-scenario)

    &.g-btn--price
        &:before
            sprite($s-calc)




    

    
    

.g-line-number
    position relative
    width 100%
    max-width 760px
    height 70px
    margin 0 auto
    
    span
        position absolute
        left 50%
        margin-left -35px
        display block
        width 70px
        height 70px
        padding-top 6px
        background-color #fff
        border-radius 50%
        text-align center
        font-size 45px
        font-family mediumFont

    &:before, &:after
        content ''
        position absolute  
        top 50%
        height 1px
        margin-top -0.5px
        width 40%
        background-color #fff

    &:before
        left 0

    &:after
        right 0

.slider__controlls, .portfolio-photo__controlls
    position absolute
    top 50%
    transform translateY(-50%)
    display block
    cursor pointer

.slider__prev, .portfolio-photo__prev
    left 0
    sprite($s-arrow-left)

.slider__next, .portfolio-photo__next
    right 0
    sprite($s-arrow-right)

.line
    &:after
        content: '';
        display: block;
        margin: 40px auto 20px;
        width: 100%;
        max-width: 750px;
        height: 1px;
        background-color: #fff;
    
        
