@media screen and (max-width 1150px)
   

    .main-nav__list
        font-size 20px

        li
            margin-right 10px
            
    .header-logo
        
        img
            width 50px

    .header-phone
        font-size 20px

    .header-call
        font-size 18px

    .header__social-list
        bottom -10px

    header
        &.active
            .header-contact
                flex-direction column

            .header-phone
                margin-right 0
                margin-bottom 10px
                font-size 20px

            .header-call
                font-size 18px
            
    .top-banner__title
        font-size 40px

    .top-banner__text
        font-size 25px

    .about-me
        padding-top 40px

    .about-me__content
        padding 0 20px 60px 45%
        background-size 48%
        background-position left bottom


    .about-me__list
        margin-bottom 20px

        li
            margin-bottom 10px
            font-size 20px

    .about-me__text
        font-size 22px

@media screen and (max-width 950px)

    .header-contact
        flex-direction column

    .header-phone
        margin-right 0
        margin-bottom 10px

    .header__social-list
        bottom -20px
        right 30px

     header
        &.active

            .author__block--header
                display none

            .header-logo
        
                img
                    width 50px

    .top-banner
        height 540px
        padding-top 136px
        

    .top-banner__content
        padding-top 40px

    
    .about-me
        padding-top 30px

    .about-me__content
        padding 0 10px 30px 45%
        
    .about-me__list
        margin-bottom 10px

    .experience__item

        &.experience__item-big 

            .experience-item__number
                font-size 70px

        span 
            &.experience-item__descr
                font-size 40px

    .experience-item__number
        font-size 50px

    .experience__text
        font-size 30px

    .advantages-icon

        img
            max-width 200px

        span
            font-size 80px

@media screen and (max-width 750px) 

    .g-section-title

        &.g-section-title--mini
            font-size 30px

    .experience__block
        flex-wrap wrap

    .experience__item
        width 50%
        border 0

        &:last-child
            border 0

        &.experience__item-big 

            .experience-item__number
                font-size 50px

        span 
            &.experience-item__descr
                font-size 25px

    .experience-item__number
        font-size 40px

    .portfolio
        padding 50px 0



@media screen and (max-width 700px)
    
    header
        background-color darkBgColor

        &.active
            position static
            
        .container
            flex-wrap wrap

    .header-logo
        order 1

    .header-contact
        order 2

    .header__social-list 
        order 3
        position static

        li
            display block
            margin 5px 0

    .main-nav__list
        position absolute
        top 100px
        left 0
        width 100%
        text-align center
        
    .top-banner
        padding-top 150px
        height 485px

    .top-banner__text
        display none
        
    .top-banner__title
        font-size 25px

    .about-me__content
        padding 0 10px 30px
        background none

    .experience
        padding 40px 0

    .experience__text
        padding 0
        font-size 25px
        
    .review-author
        font-size 20px

    .review-title, .experience__reviews-link 
        font-size 18px
    
    .g-section-title
        &.g-section-title--small
            font-size 25px

    .g-btn
        &.g-btn--date
            &.arrow
                &:after
                    display none

    .small-section__phone 
        display block
        text-align center

    .advantages-text
        font-size 25px

    .advantages-list
        font-size 18px

        li
            margin-left 15px

    .music-item
        flex-direction column
        margin-bottom 50px
        
    .music-item__pic
        max-width 220px
        margin 0 auto 15px

    .music-item__info
        text-align center

    .g-section-descr
        font-size 25px

    .scenario-list
        background none
        padding 0
        color #fff
        
        b
            color lightYellowColor

    
            
    .slider__controlls

        display none !important

    .slider

        .mobile__controlls
            display block

            
            
    .portfolio2-photo__prev, .portfolio2-photo__next
        bottom -35px
            

@media screen and (max-width 600px) 

    

    .advantages-icon

        img
            max-width 150px

        span
            font-size 60px

    .advantages-text
        font-size 20px


@media screen and (max-width 500px)  
    
    .main-nav__list
        font-size 16px
        
        li
            margin-right 5px

    .top-banner
        height 439px

    .top-banner__title
        font-size 20px

    .about-me__list
    
        li
            padding-left 20px
            font-size 18px

            &:before
                left -10px


    .about-me__text
        padding-left 0
        font-size 20px

    .g-section-title 
        font-size 30px

        &.g-section-title-mini
            font-size 25px

    .experience__item
        padding 15px 10px 5px

        &.experience__item-big 

            .experience-item__number
                font-size 35px

        span 
            &.experience-item__descr
                font-size 20px

            &.experience-item__text
                font-size 18px

    .experience-item__number
        font-size 25px

    .experience__text
            font-size 20px

    .advantages
        padding 70px 0

    .advantages-icon

        img
            max-width 100px

        span
            font-size 40px

    .g-line-number
        height 50px

        span 
            width 50px
            height 50px
            font-size 30px
            margin-left -25px

    .advantages-content, .skills-content 
        .review
            padding 0

    .skills, .scenario 

        .g-line-number
            top -25px
    
    .music-item__text, .small-section__text
        font-size 18px

    .g-btn
        font-size 22px

@media screen and (max-width 400px)  
    
    .main-nav__list
        font-size 14px

    .top-banner
        height 350px

    .top-banner__content
        padding-top 0

    .top-banner__title, .advantages-text, .about-me__text, .small-section__text, .g-btn
        font-size 18px

    .about-me__list
    
        li
            font-size 16px
   

    .experience__item

            &.experience__item-big 

                .experience-item__number
                    font-size 25px

            span 
                &.experience-item__descr
                    font-size 18px

                &.experience-item__text
                    font-size 16px

        .experience-item__number
            font-size 20px

        .experience__text
            font-size 18px

    .review-title, .advantages-list, .music-item__text
        font-size 16px

    .g-section-title
        font-size 25px

        &.g-section-title--small
            font-size 22px

        &.g-section-title--mini
            font-size 20px

    .advantages
        padding 50px 0

    .music-item__title
        font-size 25px

    
    


