$s-arrow-left = 0px 120px 0px -120px 23px 34px 175px 154px 'sprite.png';
$s-arrow-right = 38px 120px -38px -120px 23px 32px 175px 154px 'sprite.png';
$s-arrow = 0px 0px 0px 0px 101px 60px 175px 154px 'sprite.png';
$s-check = 88px 75px -88px -75px 21px 18px 175px 154px 'sprite.png';
$s-date = 0px 75px 0px -75px 29px 30px 175px 154px 'sprite.png';
$s-magnifier = 116px 0px -116px 0px 59px 58px 175px 154px 'sprite.png';
$s-scenario = 44px 75px -44px -75px 29px 23px 175px 154px 'sprite.png';
