$s-arrow = 0px 0px 0px 0px 101px 60px 145px 98px 'sprite.png';
$s-check = 44px 75px -44px -75px 21px 18px 145px 98px 'sprite.png';
$s-date = 116px 0px -116px 0px 29px 30px 145px 98px 'sprite.png';
$s-scenario = 0px 75px 0px -75px 29px 23px 145px 98px 'sprite.png';
