//Fonts
mainFont = 'RubikRegular', Arial, sans-serif
mediumFont = 'RubikMedium', Arial, sans-serif
lightFont = 'RubikLight', Arial, sans-serif

//Colors
lightYellowColor = #eecd7d
blackPurpleColor = #140e2a
grayColor = #898989
lightGrayColor = #e0e0e0
grayBgColor = #dde3e5
darkBgColor = #140e2a
popupBgColor = #e8e8e8
