//Fonts
mainFont = 'RubikRegular', Arial, sans-serif
mediumFont = 'RubikMedium', Arial, sans-serif
lightFont = 'RubikLight', Arial, sans-serif

//Colors
lightYellowColor = #eecd7d
blackPurpleColor = #140e2a