// Подключаем стили библиотек
@import '_libs.styl'

// Подключаем переменные
@import '_vars.styl'

// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
 @import '_sprite.styl'

// Подключаем миксины
@import '_mixins.styl'

html 
  line-height 1.2
  font-size 22px

body
  font-family lightFont
  color blackPurpleColor

h1,h2,h3,h4,h5,h6
  margin 0

ul,li
  margin 0
  padding 0
  list-style-type none
  
p
  margin 0
  
a
  text-decoration none
  color black

b 
    font-family mediumFont
    font-weight normal

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle
  
textarea
  resize none

section
  position relative

input,
select,
button
  outline none

*, *:before, *:after
  box-sizing border-box
  
.hide
  display none
  
.show
  display block
  
::-moz-selection 
  background: #b3d4fc;
  text-shadow: none;
  
::selection 
  background: #b3d4fc;
  text-shadow: none;
  
.clearfix:before,
.clearfix:after 
  content: " ";
  display: table;

.clearfix:after 
  clear: both;

.clearfix 
  *zoom: 1;

.container
  position relative
  width 100%
  max-width 1170px
  margin 0 auto
  padding 0px 10px
  



// Общие стили
@import '_common_styles.styl'


// Стили шапки
@import 'modules/_header.styl'

// Стили 
@import 'modules/_menu.styl'

// Стили 
@import 'page/_index.styl'

// Стили 
@import 'sections/_top-banner.styl'

// Стили 
@import 'sections/_about-me.styl'

//Стили 
@import 'sections/_experience.styl'

//Стили 
@import 'modules/_review.styl'

//Стили 
@import 'modules/_small-block-form.styl'

//Стили 
@import 'modules/_forms.styl'

//Стили 
@import 'modules/_video-slider.styl'

//Стили 
@import 'sections/_advantages.styl'

//Стили 
@import 'sections/_skills.styl'

//Стили 
@import 'sections/_scenario.styl'

//Стили 
@import 'sections/_portfolio.styl'

//Стили 
@import 'sections/_big-form.styl'

//Стили 
@import 'sections/_reviews.styl'

//Стили 
@import 'sections/_stages.styl'

//Стили 
@import 'sections/_questions.styl'

// Стили футера
@import 'modules/_footer.styl'

// Стили медиазапросов
@import '_media.styl'