footer
    .container
        .footer-content
            .footer-logo.logo
                img(src="static/img/general/logo.png" alt="Logo")
                .author-block.author__block--footer
                    span.author-block__title Baskov
                    span.author-block__descr Host to the wedding,<br> celebration and a party
            .footer-contacts
                a(href="tel:+1234567890").footer-phone +1234567890
                ul.g-social__list.g-social__list--footer
                    li
                        a(href="javascript:void(0);").g-social__link.g-social__link--mail 

                    li
                        a(href="javascript:void(0);").g-social__link.g-social__link--fb
            .footer-portals
                span.footer-portals__text my <br> pages on <br> portals:
                ul.footer-portals__links
                    li
                        a(href="https://www.linkedin.com/uas/login")
                            img(src="static/img/svg/linkedin-logo (1).svg" alt="linkedin").
                    li
                        a(href="https://www.linkedin.com/uas/login")
                            img(src="static/img/svg/linkedin-logo (1).svg" alt="linkedin")
                            
        .footer-copyright
            span © 2017 All rights reserved.  
            a(href="javascript:void(0);") Copyright Policy