header
    .container
        include menu
        .logo.header-logo
            img(src="static/img/general/logo.png" alt="Logo")
            .author-block.author__block--header
                    span.author-block__title Baskov
                    span.author-block__descr Host to the wedding,<br> celebration and a party
        .header-contact
            a(href="tel:+1234567890").header-phone +1234567890 
            a(href="#call").popup-link.header-call Call
        ul.g-social__list.header__social-list 
            li
                a(href="javascript:void(0);").g-social__link.g-social__link--mail 

            li
                a(href="javascript:void(0);").g-social__link.g-social__link--fb