header
	.container
		include menu
		.logo.header-logo
			img(src="static/img/general/logo.png" alt="Logo")
		.header-contact
			a(href="tel:+1234567890").header-phone +1234567890 
			a(href="#").popup-link.header-callback Call
		ul.g-social__list.header__social-list 
			li
				a(href="javascript:void(0);").g-social__link.g-social__link--mail 

			li
				a(href="javascript:void(0);").g-social__link.g-social__link--fb