extends ../layout/main

block title
    | Главная страница

block content
    include ../sections/top-banner
    include ../sections/about-me
    include ../sections/experience
    include ../sections/date-free
    include ../sections/advantages
    include ../sections/skills
    include ../sections/scenario
    

	
